# NetBeans project files
nbproject/

# PhpStorm project files
.idea/

# Files containing secret keys like passwords and shit
Application/Config/database.json

# Logs and shit
apache-logs

# Well, this turned out to be pretty boring...